<!DOCTYPE html>
<html style="height: 100%; position: relative">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Lens of Truth</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
  <link rel="stylesheet" href="https://use.typekit.net/haq1yju.css">
</head>
<body style="margin: 0; padding: 0; min-height: 100%">
<div id="app" style="min-height: 100vh;">
  <!-- React will load here -->
</div>
</body>
{% load static %}
<script src="{% static "frontend/main.js" %}"></script>
</html>